@import url('https://fonts.googleapis.com/css2?family=Lilita+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

.App {
  text-align: center;
  background: rgb(92,58,146);
  background: linear-gradient(180deg, rgba(92,58,146,1) 0%, rgba(31,70,155,1) 80%);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(241, 241, 241);
}

.lilita-one{
  font-family: 'Lilita One', cursive;
  font-weight: 300;
}

.raleway{
  font-family: 'Raleway', sans-serif;
  font-weight: 300;
}

.gif{
  position: fixed;
  bottom: 0;
  opacity: 0.4;
}
